:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;  /* 텍스트 블록 줄 간격 */
  font-weight: 400;
  text-align: center;

  color-scheme: light;  /* 라이트 모드만 지원 */
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100vw;
  min-height: 100vh;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 20;
  display: flex;
  place-items: center;
  overflow: hidden;
}

#container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex; 
  justify-content: center; 
  flex-direction: row; 
}

#room-header-controls {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end; 
  width: 90%; 
}

.speaker {
  display: inline-block; 
  margin-right: 10px; 

}

.cursor-div {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  pointer-events: none; /* 이 div가 마우스 이벤트를 방해하지 않도록 설정 */
}